body{
     background-color:whitesmoke;
    

}
 h2:hover,h1:hover{
    background-color:chocolate;
 }
 h1 {
  background-color:gray;
  padding: 30px;
  text-align: center;
  font-size: 50px;
  color: black;
}

p{
    color: blue;
    text-align: center;
}
h2{
    color: black;
    text-align: center;
}
div{
    border-style:solid;
}

